In [ ]:
# dictionary for future reference of DataFrame

import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt

# 1) Import CSV (or any format) into a DataFrame (must be in the folder to import)
df = pd.read_csv("your_file.csv")

# 2) Quick checks
df.head()        # first 5 rows
df.tail()        # last 5 rows
df.shape         # (rows, columns)
df.columns       # column names
df.dtypes        # data types
df.info()        # summary incl. non-null counts
df.describe()    # numeric summary stats
df.describe(include="all")  # includes non-numeric too

# 3) Common cleaning / prep
df.isna().sum()      # missing values per column
df.dropna()          # remove rows with missing values
df.fillna(0)         # fill missing values
df["col"].unique()   # unique values in a column
df["col"].value_counts()  # frequency table

# 4) Filtering and selecting
df["col"]                    # single column
df[["col1", "col2"]]         # multiple columns
df[df["col"] > 100]          # row filter
df.loc[0:4, ["col1"]]        # label-based select
df.iloc[0:5, 0:2]            # position-based select

# 5) Sorting and grouping
df.sort_values("col", ascending=False)
df.groupby("category")["value"].mean()

In [11]:
pd.read_excel('combined_state.xlsx')

      Alabama     C_1  AL
0     Alabama  C_3518  AL
1     Alabama  C_3569  AL
2     Alabama   C_444  AL
3     Alabama   C_437  AL
4     Alabama  C_3576  AL
...       ...     ...  ..
5829  Wyoming  C_5366  WY
5830  Wyoming  C_1306  WY
5831  Wyoming   C_204  WY
5832  Wyoming  C_1886  WY
5833  Wyoming  C_3162  WY

[5834 rows x 3 columns]

In [ ]:
state_data=pd.read_excel('combined_state.xlsx',header=None,names=['Entries','State','Blah','Blah'])
summary= state_data.describe()
state_data = state_data.dropna()
print(type(state_data))
print(type)

<class 'pandas.DataFrame'>
Empty DataFrame
Columns: [Entries, State, Blah, Blah.1]
Index: []