In [10]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt

print("pandas", pd.__version__)
print("numpy", np.__version__)
print("sklearn", sklearn.__version__)

pandas 3.0.1
numpy 2.4.2
sklearn 1.8.0

In [11]:
pd.read_excel('combined_state.xlsx')

      Alabama     C_1  AL
0     Alabama  C_3518  AL
1     Alabama  C_3569  AL
2     Alabama   C_444  AL
3     Alabama   C_437  AL
4     Alabama  C_3576  AL
...       ...     ...  ..
5829  Wyoming  C_5366  WY
5830  Wyoming  C_1306  WY
5831  Wyoming   C_204  WY
5832  Wyoming  C_1886  WY
5833  Wyoming  C_3162  WY

[5834 rows x 3 columns]

In [31]:
state_data=pd.read_excel('combined_state.xlsx',header=None,names=['Entries','State','Blah','Blah'])
summary= state_data.describe()
state_data = state_data.dropna()
print(type(state_data))
wyoming_data = state_data[state_data['State'] == 'Wyoming']
print(wyoming_data)

<class 'pandas.DataFrame'>
Empty DataFrame
Columns: [Entries, State, Blah, Blah.1]
Index: []

NameError: name 'Wyoming' is not defined